.pagination span{
    /*Кружки вокруг цифр*/
    display: inline-block;
width: 50px; /*ширина*/
height: 50px; /*высота*/
line-height: 50px; /*высота строки*/
/*толщина стиль цвет (если цвет не задался цвет черный)*/
border: 3px solid #123C69;
/*скругление углов*/
border-radius: 50%;
text-align: center;
color: #123C69;
margin: 1rem;
}

.pagination span.active {
    background-color: #bab2b5;
}

.info {
    display: flex;
    font-weight: bold; /*жирность шрифта*/
}

.info-autor {
}

.info-genre {
    margin-left: auto;
}

.book {
    color: #123C69;
}