.container {
    margin: 0 auto;
    max-width: 1200px;

}
.navbar {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    
}

.elem {
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

html {
    height: 100%;
    }

    aside {
        margin: 0;
        justify-content: space-between
    }
